<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html(xmlns="http://www.w3.org/1999/xhtml")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    style(type="text/css")
      include ./style.css
    title
      | HTML Email Template
  body
    div(style="font-size: 0px; color: #ffffff; opacity: 0; visibility: hidden; width: 0; height: 0; display: none")
      | Тестовое письмо
    table.table-wrapper(cellpadding="0" cellspacing="0" width="100%" bgcolor="#ededed")
      tr
        td
          | Я жёлтый цвет